@page "{number}"
@model Chapter16_razor_binding.Pages.CalculateSquareModel;
@{
    ViewData["Title"] = "Calculate Square";
}
<h1>Square Calculation</h1>
<p>The square of @Model.Input is @Model.Square</p>
